openai
streamlit
llama-index
ipykernel
tiktoken
faiss-cpu==1.7.4
langchain
langchain-community
langchain-huggingface
torch
sentence-transformers
textblob
seaborn
accelerate
google-generativeai
safetensors
python-Levenshtein
symspellpy
cupy-cuda12x
