openai
streamlit
llama-index
ipykernel
ipywidgets
tiktoken
faiss-cpu
langchain
langchain-community
langchain-huggingface
torch
sentence-transformers
textblob
seaborn
accelerate
google-generativeai
safetensors
python-Levenshtein
symspellpy
nltk
bitsandbytes
accelerate
llama-index-vector-stores-faiss
